{% extends 'base.html' %}

{% block title %}Dev Diary{% endblock %}

{% block content %}

    <h1>Dev Diary</h1>

    {% if latest_post_list %}
        {% for post in latest_post_list %}
            <div class="post-preview">
                <h2><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></h2>
                <p>{{ post.content|truncatewords:30 }}</p>
                <p><small>Published on {{ post.date_posted }}</small></p>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <p>No posts are available.</p>
    {% endif %}

{% endblock %}