/* main.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    padding: 20px;
}

/* Navbar container */
.navbar {
    background-color: #07393c;
    overflow: hidden;
}

/* Navbar links */
.navbar a {
    float: left;
    display: block;
    color: #F1F7ED;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #2C666E;
    color: #F1F7ED;
}

/* Right-aligned link (optional) */
.navbar .right {
    float: right;
}

/* Responsive layout - stacks navbar links on smaller screens */
@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        display: block;
        text-align: left;
    }

    .navbar .right {
        float: none;
    }
}

footer {
    background-color: #07393c;
    color: #F1F7ED;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}